#first-paragraph {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#second-paragraph {
    color: rgb(0, 61, 82);
    background-color: orange;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 1000;
}

.other-paragraphs {
    color: green;
    background-color: yellow;
    font-size: medium;
    font-weight: bolder;
}